@{
    ViewBag.Title = "Tamagotchi";
}
<link type="text/css" rel="stylesheet" href="~/Content/Site.css" />

<div class="jumbotron" style="background-color: #d5ddea; opacity: 1; border-radius: 4px;">
    <h1 >Create your own Tamagotchi!</h1>
    <p class="lead">Start your friendship with your virtual companion right now!</p>
</div>

<div class="row" style="background-color: #d5ddea; opacity: 0.9; border-radius: 4px;" >
    <div class="col-md-4" >
        <h2>What is a tamagotchi?</h2>
        <p>
            A tamagotchi is a low maintenance, loving virtual creature you can take care of!
        </p>
    </div>
    <div class="col-md-4">
        <h2>How much time do you need to invest?</h2>
        <p>Almost none, come and check on your tamagotchi twice a day for 5 minutes. Feed, cuddle and play and your creature will be satisfied.</p>
    </div>
    <div class="col-md-4">
        <h2>Try it!</h2>
        <p>Tamagotchi is totally free to play! So start right now with your own virtual pet!</p>
    </div>
</div>